<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goodwarehouse.goodwarehouse">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_iocn"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.activity.MainActivity" />
        <activity android:name=".controller.activity.CommodityActivity" />
        <activity android:name=".controller.activity.BrandDetailsActivity" />
        <activity android:name=".controller.activity.WebPageActivity" />
        <activity android:name=".controller.activity.ExpertDetailsActivity" />
        <activity android:name=".controller.activity.CommodityDetailsActivity" />
        <activity android:name=".controller.activity.MagazinesActivity" />
        <activity android:name=".controller.activity.MagazinesAuthorActivity" />
        <activity android:name=".controller.activity.ExpertCommodityActivity"></activity>
    </application>

</manifest>